@charset "UTF-8";

*{
    font-family:  Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #299AE6, #25E6B5  );
}

main{
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 3px #2483c283;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1{
 color:#25E674 ;
 text-align: center;
 text-shadow: 1px 1px 2px #1eaf5ab4;
}

h2{
    color:#1cac58 ;
}

p{
    text-align: justify;
}